{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main class="container">
      <article>
        <h1>{{ .Title }}</h1>
        {{ if isset .Params.mainImage "image" }}
        <img src="{{ .Params.mainImage.image }}" alt="{{ .Params.mainImage.imageAlt }}" />
        {{ end }}
        {{ .Content }}
    </article>
    <section>
      <div id='discourse-comments'></div>

      <script type="text/javascript">
        window.DiscourseEmbed = { discourseUrl: 'https://forum.hsp.sh/',
        {{ if .Params.topicId }} 
          topicId: {{ .Params.topicId }}
        {{ else }}
          discourseEmbedUrl: '{{ .Permalink }}'
        {{ end }}
        };
                         

        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = window.DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>
    </section>
</main>
{{ end }}