@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* ============================================================= COLORS ** ============================================================= */
:root {

    /* Set sans-serif & mono fonts */
    /* --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif; */
    --sans-font: "Nunito Sans", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
    --base-fontsize: 1.15rem;

    /* Major third scale progression - see https://type-scale.com/ */
    --header-scale: 1.25;

    /* Line height is set to the "Golden ratio" for optimal legibility */
    --line-height: 1.618;

    /* Default (dark) theme */
    --bg          : #111;
    --accent-bg   : #1b1b1b;
    --text        : #FFF;
    --text-light  : #cccccc;
    --border      : var(--text);
    --accent      : #0c9;
    --accent-light: rgb(113, 207, 184);
    --code        : #F06292;
    --preformatted: #CCC;
    --disabled    : #111;
    --marked      : #FFDD33;
}

/* Dark theme */
/* @media (prefers-color-scheme: dark) {
    :root {
        --bg          : #212121;
        --accent-bg   : #2B2B2B;
        --text        : #DCDCDC;
        --text-light  : #ABABAB;
        --border      : var(--text);

    }

    img,
    video {
        opacity: .6;
    }
} */

a {
    text-decoration: none;
    color: var(--accent);

}

a:hover {
    color: var(--accent-light);
    text-decoration: underline;
}

header {
    padding: 1em 1em;
    text-align: center;
}

.nav img {
    height: 1em;
    float : left;
}

header nav {
    text-transform: lowercase;
    display: inline-block;
    font-family: var(--mono-font);
    margin: 0 auto;
}

header nav a::after {
    content: "\00a0|\00a0";
    color  : var(--text);
    display: inline-block;
}

header nav a:first-child::before {
    content: "[\00a0";
    color  : var(--text);
    display: inline-block;
}

header nav a:last-child::after {
    content: "\00a0]";
    color  : var(--text);
    display: inline-block;
}

@media screen and (max-width: 600px) {
    header nav {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    header nav a::after,
    header nav a:first-child::before,
    header nav a:last-child::after {
        display: none;
    }

    header nav a {
        padding: 0.5em;
        border: 1px solid var(--text);
    }

    header nav a:hover {
        border-color: var(--accent);
    }
}

h1 {
    font-family: var(--mono-font);
}

footer {
    background-color: var(--accent-bg);
    margin-top      : auto;
    font-family: var(--mono-font);

    .footer__notice {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #212121;
        gap: 1em;
        padding: 1em;

        .social-icons {
            display: flex;
            gap: 1em;
        }
    }
}

footer .footer__notice p {
    display: inline-block;
    margin: 0;
    text-align: center;
}

footer .footer__notice p:not(:last-child)::after {
    content: " | ";
    margin: 0 0.5em;
}

@media screen and (max-width: 600px) {
    footer .footer__notice {
        flex-direction: column;
        gap: 0.5em;
    }

    footer .footer__notice p:not(:last-child)::after {
        display: none;
    }
}

.alert {
    position           : relative;
    border             : 1px solid transparent;
    border-top-color   : transparent;
    border-right-color : transparent;
    border-bottom-color: transparent;
    border-left-color  : transparent;
}

.alert-danger {
    background-color: var(--bg);
    background-image: linear-gradient(135deg, rgba(0, 204, 153, 0.15) 25%, rgba(0, 204, 153, 0.05) 25%, rgba(0, 204, 153, 0.05) 50%, rgba(0, 204, 153, 0.15) 50%, rgba(0, 204, 153, 0.15) 75%, rgba(0, 204, 153, 0.05) 75%, rgba(0, 204, 153, 0.05) 100%);
    background-size : 56.57px 56.57px;
}

.brand {
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-align     : justify;
    flex           : 1 1 auto;
    flex-wrap      : wrap;
}

.brand .slogan {
    margin    : auto;
    text-align: center;
    flex-basis: 100%;
}

.brand .logo {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
}

.brand .logo span {
    flex-basis     : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.brand .logo img {
    max-width: 128px;
    margin   : 0.67em 0 0;
}

@media screen and (max-width: 600px) {
    .brand .logo {
        flex-wrap: nowrap;
    }

    .brand .logo img {
        margin       : 0 2em;
        max-width    : 72px;
        border-radius: 72px;
        border-width : 3.6px;
    }
}

.content a {
    color: #0c9;
}

.contact p {
    display: flex;
}

.contact input,
.contact textarea,
.contact button {
    flex       : 1;
    color      : var(--text);
    font-family: sans-serif;
    border     : 1px solid var(--text);
    background : var(--accent-bg);
    padding    : 0.5em;
    width      : auto;
}

body {
    font-family: var(--sans-font);
    line-height: var(--line-height);
    font-size: var(--base-fontsize);
}

body {
    background-color: var(--bg);
    color           : var(--text);
    margin          : 0;
    display         : flex;
    flex-direction  : column;
    min-height      : 100vh;
    background-size : 800px;
    fill            : #212121;
}

::selection {
    background: #0c9;
    color     : var(--text);
}

::-moz-selection {
    background: #0c9;
    color     : var(--text);
}

.container img {
    max-width: 100%;
}

main {
    max-width: 70ch;
    padding  : 2ch;
    margin   : auto;
}

.card {
    margin: 2ch 0;
    padding: 0 2ch;
    border:  1px solid var(--text);
}

.center {
    text-align: center;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    &.full-width {
        display: block;
    } 
}

@media screen and (max-width: 600px) {
    .action-buttons {
        grid-template-columns: repeat(2, 1fr);
    }
}

a.action-btn {
    display: block;
    border: 1px solid var(--text);
    background: var(--accent-bg);
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    font-family: var(--mono-font);
}

.action-btn:hover {
    border-color: var(--accent-light);
    color: var(--accent-light);

    span {
        text-decoration: underline;
    }

    i {
        color: var(--accent-light);
    }
}

.action-btn i {
    font-size: 3em;
    display  : block;
    color: var(--text);
}

.door.action-btn.open {
    color           : var(--accent-bg);
    border-color    : var(--accent-bg);
    background-color: #0c9;
}

.door.card.open {
    display: block !important; /* this will bite me in the ass some time */
    color           : var(--accent);
    border-color    : var(--accent);
}

.sponsors {
    background-color: var(--accent-bg);
    padding: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;

    a {
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: center;
    }

    img {
        max-height: 64px;
        max-width: 100%;
        width: auto;

        &:hover {
            opacity: 0.8;
        }
    }
}
