/* ============================================================= COLORS ** ============================================================= */
:root{
    --text-color:  #c2d6d6;
    --background-color: #283747; /*#282b2f*/
    --gradient: linear-gradient(to top left, #000000 -1%, #666699 100%);
    --logo-color: #00cc99;
    --primary-color: #ff66ff;
    --secondary-color: #002133;
    --global-border-color: var(--text-color);
    --global-border:  0.0625em solid var(--global-border-color);
    --global-font-size: 0.8125em;
    --global-padding:  0.9375em;
    --fill-color: var(--background-color);
}
header { padding: 1em 1em; background-color: var(--secondary-color) }
.nav img { height: 1em; float: left; }
header nav { text-transform: lowercase; display: inline a; display-color: white; display-text-decoration: none !important; }
header nav a::after { content: " |"; color: var(--text-color); }
header nav a:first-child::before { content: "[ "; color: var(--text-color); }
header nav a:last-child::after { content: " ]"; color: var(--text-color); }
footer { font-weight: 100; font-size: var(--global-font-size); background-color: var(--secondary-color); margin-top: auto; }
footer .footer__navigation { display: flex; align-items: center; }
footer .footer__navigation .socials { margin-left: auto; }
footer .footer__navigation nav > a { margin-left: 20px; }
footer .footer__navigation a { text-decoration: none; }
footer section { padding: 1em 3em; }
footer .footer__notice { display: flex; flex-wrap: wrap; justify-content: center; }
footer .footer__notice p { display: inline-block; padding-right: var(--global-padding); padding-left: var(--global-padding); }
footer .footer__notice p:after { content: ""; position: absolute; height: var(--global-padding); width: 2px; background: var(--global-border-color); margin-left: 15px; }
footer .footer__notice p:last-of-type:after { content: none; }
.alert { position: relative; border: 1px transparent;}
.alert-danger { background-color: var(--fill-color); background-image: linear-gradient(135deg, rgba(0, 204, 153, 0.15) 25%, rgba(0, 204, 153, 0.05) 25%, rgba(0, 204, 153, 0.05) 50%, rgba(0, 204, 153, 0.15) 50%, rgba(0, 204, 153, 0.15) 75%, rgba(0, 204, 153, 0.05) 75%, rgba(0, 204, 153, 0.05) 100%); background-size: 56.57px 56.57px; }
.brand { display: flex; align-items: center; justify-content: center; text-align: justify; flex: 1 1 auto; flex-wrap: wrap; }
.brand .slogan { margin: auto; text-align: center; flex-basis: 100%; }
.brand .logo { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
.brand .logo span { flex-basis: 100%; display: flex; justify-content: center; align-items: center; }
.brand .logo img { max-width: 128px; margin: 0.67em 0 0; }
@media screen and (max-width: 600px) { .brand .logo { flex-wrap: nowrap; }
.brand .logo img { margin: 0 2em; max-width: 72px; border-radius: 72px; border-width: 3.6px; } }
.content a { color: var(--logo-color); }
.contact p { display: flex; }
.contact input, .contact textarea, .contact button { flex: 1; color: var(--global-border-color); font-family: sans-serif; border: var(--global-border); background: var(--background-color); padding: 0.5em; width: auto; }
* { font-family: sans-serif; }
body { background-color: var(--primary-color); color: var(--global-border-color); margin: 0; display: flex; flex-direction: column; min-height: 100vh; background: url(/assets/home-bg.svg) var(--fill-color) no-repeat center center; background-size: 800px; fill: var(--fill-color); }
a { color: var(--global-border-color); text-decoration: underline; }
a:hover { color: var(--primary-color); }
a:active { color: var(--primary-color); }
::selection { background: var(--primary-color); color: var(--global-border-color); }
::-moz-selection { background: var(--primary-color); color: var(--global-border-color); }
.container { max-width: 100ch; padding: 2ch; margin: auto; }
.container img { max-width: 100%; }
main {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
}
.center { text-align: center; }
.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.action-btn {
    display: block;
    background: var(--background-color);
    border: var(--global-border);
    padding: 0.5em;
    width: 100%;
    text-decoration: none;
    text-align: center;
    /* grid-column: 1;
    grid-row: 1; */
}
.action-btn:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.action-btn i {
    font-size: 3em;
    display: block;
}

#door.action-btn.open  {
    color: var(--global-border-color);
    border-color: var(--global-border-color);
    background-color: var(--primary-color);
}

/*# sourceMappingURL=style.css.map */