{{ define "main" }}
<style>
main, header, footer {
	z-index: 2;
}
canvas {
	z-index: 1;
}
nav {
  background: var(--bg);
}
main {
  background: var(--bg);
  padding: 2em;;
}

canvas, .grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
  canvas:active, .grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing; 
  }

</style>
<canvas id="canvas"></canvas>
<main>
	<div class="content">
    <h1>{{ .Title }}</h1>
		{{ .Content }}
	</div>
</main>
<script src="/js/panoLocation.js" defer></script>

{{ end }}