{{ define "main" }}

<main>
	<div class="brand">		
		<div class="logo">
			<img src="/assets/logo_accent.png">
			<span><h1>Hackerspace Pomorze</h1></span>
		</div>
		<p class="slogan">Restartujemy Hackerspace. Nowa nazwa. Nowy adres. Ci sami ludzie.</p>
	</div>
	<div>
		<h2>Wepnij się</h2>
		<div class="action-buttons">
			<a class="action-btn" id="door" href="/location"><i class="las la-door-open"></i>Przyjdź</a>
			<a class="action-btn" href="/chat"><i class="las la-comments"></i>Czat</a>
			<a class="action-btn" href="/forum"><i class="las la-stream"></i>Forum</a>
			<a class="action-btn" href="/contact"><i class="las la-envelope"></i>Email</a>
		</div>
	</div>
	<div>
		<h2>Co się dzieje</h2>
		<iframe src="https://gra0007.github.io/modern-cal-embed/iframe.html?ical=https%3A%2F%2Fwydarzenia.hsp.sh%2F%40hs%2Ffeed%2Fics&title=1&nav=1&date=1&view=1&details=0&monstart=1&dview=0&color=%2300cc99&colorbg=%231b1b1b&colortxt=%23ffffff&colorsecondarytxt=%23FFFFFF"
			width="100%" height="400px" style="border: 1px solid #ffffff"></iframe>
	</div>
	<div class="content">
		{{ .Content }}
	</div>
	
</main>

{{ end }}