{{ define "main" }}
<style>
body {
	background : url(/assets/uncodeme.svg) var(--bg) no-repeat center center;
}
</style>
<main>
	<section class="brand">		
		<div class="logo">
			<img src="/assets/logo_accent.png">
			<span><h1>{{- .Site.Title -}}</h1></span>
		</div>
		<p class="slogan">{{ .Site.Params.description }}</p>
	</section>
	<section>
		<h2>Wepnij się</h2>
		<div class="action-buttons">
			<a class="action-btn door" href="/location"><i class="las la-door-open"></i>Przyjdź</a>
			<a class="action-btn" href="/discord"><i class="lab la-discord"></i>Discord</a>
			<a class="action-btn" href="/forum"><i class="las la-stream"></i>Forum</a>
			<a class="action-btn" href="/contact"><i class="las la-envelope"></i>Email</a>
		</div>
		<div class="card door" style="display: none;">
			<h3>Otwarte!</h3>
			<p>
			  Wpadnij na <strong><a href="/location">Do Studzienki 28</a></strong> jeśli jesteś w pobliżu. Upewnij się na czacie, że zdążysz do nas dotrzeć. <br>Do zobaczenia!
			</p>
		</div>
	</section>
	<div class="content">
		{{ .Content }}
	</div>
</main>

{{ end }}
