<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{ .Site.Params.description }}">


<!-- TODO(not7cd): add parametrizable banner -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }} &ndash; {{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}/assets/logo_accent.png">

<meta property="twitter:title" content="{{ .Title }} &ndash; {{ .Site.Title }}">
<meta property="twitter:description" content="{{ .Site.Params.description }}">
<meta property="twitter:image" content="{{ .Site.BaseURL }}/assets/logo_accent.png">
<meta property="twitter:card" content="summary">

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<script src="/js/status.js" defer></script>