<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{ .Site.Params.description }}">
<title>{{ .Title }} &ndash; {{ .Site.Title }}</title>

<link rel="manifest" href="/manifest.json">

<!-- TODO(not7cd): parametrize -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#00cc99">
<link rel="shortcut icon" href="/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#00cc99">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#00cc99">

<!-- TODO(not7cd): add parametrizable banner -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }} &ndash; {{ .Site.Title }}">
<meta property="og:description" content="{{ if .Summary }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:image" content='{{ .Site.BaseURL -}}
{{- if isset .Params.mainImage "image" -}}
{{- .Params.mainImage.image -}}
{{- else -}}/assets/logo_accent.png{{- end -}}'>

<meta property="twitter:title" content="{{ .Title }} &ndash; {{ .Site.Title }}">
<meta property="twitter:description" content="{{ if .Summary }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="twitter:image" content='{{ .Site.BaseURL -}}
{{- if isset .Params.mainImage "image" -}}
{{- .Params.mainImage.image -}}
{{- else -}}/assets/logo_accent.png{{- end -}}'>
<meta property="twitter:card" content="summary">

<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<script src="/js/status.js" defer></script>
<script async defer data-domain="hsp.sh" src="https://plausible.hsp.sh/js/script.js"></script>
