<header>
    <div class="nav">
        <nav style="float:left;">
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main -}}
            <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{- end }}
         </nav>
         <nav style="float:right;">
            {{- range .Site.Menus.services -}}
            <a rel="me" href="{{ .URL }}" title="{{ .Identifier }}">{{ .Name }}</a>
            {{- end }}
         </nav>
    </div>
</header>
