<div>
    <!-- TODO(not7cd): call for action, button to membership page -->
    <p>
        Cały nasz budżet jest pokrywany z składek członkowskich. Dołącz do nas aby wesprzeć naszą misję.
    </p>
    <div class="action-buttons full-width">
        <a href="/membership" class="action-btn">zostań członkiem stowarzyszenia</a>
    </div>
    <h3>Wspierają nas...</h3>
    <div class="sponsors">
        <a href="https://partsbox.com/?ref=hspomorze"><img src="/assets/uploads/partsbox.svg" alt="PartsBox.com"></img></a>
        <a href="https://x3dshop.com/?ref=hspomorze"><img src="/assets/uploads/x3d.svg" alt="x3D printer store"></img></a>
    </div>    
</div>
